.divBodyProfileProvider {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.divLeftProfileProvider {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;

    background: rgba(10, 57, 105, 0.13);
    height: 100vh;
}

.welcomeProvider {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;

    color: #000000;
}

.logoProfileProvider {
    width: 120px;
    margin: 8%;
}

.tagAprofileProvider {
    text-decoration: none;
    color: black;

    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #000000;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8% 0% 0% 0%;
    width: 353px;
    height: 62.59px;
}

.logoffProfileProvider {
    width: 90%;
    text-align: end;
    margin-top: 30%;
}

.logoffProfileProvider img:hover {
    cursor: pointer;
    height: 40px;
    image-rendering: optimizeQuality;
}

.divRightProfileProvider {
    width: 70%;
    height: 91.5vh;
    overflow: auto;
    display: flex;
    padding: 1%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#botao1 {
    font-family: 'Poppins';
    font-style: normal;
    line-height: 36px;
    width: 400px;
    height: 50px;
    color: #FFFFFF;
    background: #0A3969;
    border-radius: 49px;
    font-size: 24px;
    color: white;
}

#botao1:hover {
    background-color: orange;
    color: black;
    cursor: pointer;
}

.divImgProfileProvider {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divNameProvider {
    width: 25%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.imgPhotoProvider {
    width: 30%;
    border-radius: 100%;
}

.divAlterPhotoProvider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.divAlterPhotoProvider a {
    color: black;
    text-decoration: none;

}

.nameServiceProvider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alterNameProvider:hover {
    cursor: pointer;
    height: 48px;
}

.divServicesProvider {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.divServicesProvider::-webkit-scrollbar {
    display: none;
}


.divServicesProvider p {
    font-size: 20px;
}

.valueAvg {
    display: flex;
    justify-content: space-between;
}

.cardServiceProvider {
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    width: 100%;
}

.infoService {
    display: flex;
    justify-content: space-between;
    padding: 0.5%;
    align-items: center;
    background: rgba(10, 57, 105, 0.13);
}

.infoService:hover {
    background-color: #0a3a69b5;
    color: white;
    cursor: pointer;
}

.divIconsService {
    display: flex;
    align-items: center;
}

.divIconsService img {
    width: 40%;
    margin-left: 10%;
}

.descriptionServiceProvider {
    width: 98%;
    padding: 1%;
    background: #F2F2F2;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ratingProvider p {
    text-align: center;
}


.addServiceDiv {
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.724);
    display: none;
    align-items: center;
    justify-content: center;
}

.modalCreateService {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2%;
    background-color: white;
    color: black;
    border-radius: 20px;
    width: 50%;
    justify-content: space-between;
    height: 70%;
    font-size: 32px;
}

.divInputForm {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.divInputForm input {
    font-size: 22px;
    height: 30px;
    width: 50%;
    border-radius: 10px;
    border: black solid 1px;
}

.divInputForm select {
    height: 30px;
    width: 50%;
    font-size: 20px;
}

#submitForm {
    background-color: #0A3969;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 50%;
    padding: 1%;
    border-radius: 20px;
    font-size: 28px;
}

#submitForm:hover {
    background-color: orange;
    color: black;
    cursor: pointer;
}

.iconCloseService {
    position: absolute;
    right: 428px;
}

.iconCloseService:hover {
    cursor: pointer;
    height: 55px;
}

.openDivAlterNameProvider {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #00000040;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divAlterName {
    background-color: white;
    color: #0A3969;
    width: 30%;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    border-radius: 20px;
    padding: 1%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.divAlterName h3 {
    margin: 0;
}

.divAlterName input {
    font-size: 22px;
    border: none;
    border-bottom: #0A3969 1px solid;
    width: 80%;
    border-radius: 6px;
}
.divAlterName input:focus{
    border: none;
}

.divAlterName button {
    font-size: 28px;
    background-color: #0A3969;
    color: #FFFFFF;
    padding: 1%;
    border-radius: 20px;
}
.divAlterName button:hover{
    background-color: orange;
    color: black;
    cursor: pointer;
}