.profileClient {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;

    background: rgba(10, 57, 105, 0.03);
    border-radius: 20px;
}

.divProfileClient {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
}

.divProfileImg {
    display: flex;
    height: 25vh;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}


.imageClient {
    height: 150px;
    border-radius: 100%;
    border: solid 1.5px rgb(3, 48, 86);
}

.divUserInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.divUserInfo img{
    height: 30px;
}
.userInformations {
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: space-between;
    width: 105%;
}

.userInformations img:hover{
    cursor: pointer;
    height: 35px;
}

.alterPhoto {
    cursor: pointer;
}