.divDashboardClint {
    width: 80%;
    margin: 2%;
}

.dashH4 {
    align-self: start;
    color: #174574;
}

.dashboard {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.historyOfServiceClientDiv {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;

}

.historyOfServiceClientDiv h3 {
    color: #174574;
}

.historyOfServiceClientDivOverflow {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 300px;
    border-radius: 20px;
    padding: 2%;
    background: rgba(10, 57, 105, 0.03);
    box-shadow: 10px 10px 5px #aaaaaaad;

}

.historyOfServiceClientDivOverflow::-webkit-scrollbar {
    display: none;
}

.cardLastService {
    display: grid;
    width: 100%;
    padding: 0.5%;
    margin-bottom: 40px;
    font-size: 22px;
    place-items: center;
    grid-template-columns: 34% 17% 32% 18%;
    border-radius: 20px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.nameServiceHistory,
.priceServiceHistory,
.dateServiceHistory {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nameServiceHistory {
    justify-self: start;
}

.cardLastServiceButton button {
    font-size: 24px;
    background-color: #174574;
    color: white;
    border-radius: 15px;
}

.cardLastServiceButton button:hover {
    cursor: pointer;
    background-color: orange;
    color: black;
}



.ratingForProviderDiv {
    background-color: rgba(0, 0, 0, 0.413);
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
}

.ratingForProvider {
    background-color: white;
    width: 50%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    justify-content: space-around;
    border-radius: 20px;
}

.sumaryRating {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.ratingForProvider h4{
    margin: 0;
}
.inputNote {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-evenly;
}

.inputNote input {
    font-size: 40px;
    width: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    text-align: center;
}

.inputNote input::-webkit-inner-spin-button,
.inputNote input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}