body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

body p {
    padding: 0;
    margin: 0;
}

.body {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.body h2 {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
}

.cardCustumerDiv {
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 420px;
    overflow: auto;
    flex-direction: column;
    align-items: center;

}


.cardCustumerDiv::-webkit-scrollbar {
    display: none;
}

.cardCustumerDiv p {

    font-size: 18px;
    margin-top: 1%;
}

.cardCustumer {
    margin-top: 5%;
    height: 170px;
    display: flex;
    align-items: center;
    background: rgba(10, 57, 105, 0.13);
    padding: 4%;
    border-radius: 10px;
    width: 70%;
    justify-content: space-between;
    box-shadow: 0px 1px 3px gray inset;
}

.cardCustumer .imgCustumer {
    border-radius: 10%;
    border: #0A3969 solid;
    height: 154px;
}

.cardCustumer .imgStars {
    width: 150px;
}

.infoCustumer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
}

.assessment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
}

.assessment2 {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.assessment2 p {
    min-inline-size: max-content;

}

.distance {
    height: 150px;
}

#loadingDiv img {
    height: 100px;
    position: absolute;
    top: 50%;
    left: 47%;
}


.cardSearchOpen {
    position: absolute;
    top: 0.1px;
    width: 99vw;
    height: 99vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.402);
}

.cardSearchOpenDiv {
    background-color: white;
    width: 60%;
    height: 600px;
    border-radius: 20px;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cardSearchOpenDivIconClose {
    width: 100%;
    display: flex;
    justify-content: end;
}

details {
    margin-bottom: 2%;
}


.cardSearchOpenDivIconClose img {
    height: 40px;
    border-radius: 100%;
}

.cardSearchOpenDivIconClose img:hover {
    height: 42px;
    cursor: pointer;
}

.cardSearchOpenDivTopInfo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cardSearchOpenDivTopInfoInside {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}

.imgProvider {
    height: 180px;
    border-radius: 100%;

}

.cardSearchOpenDivTopInfoInsideAvarage {
    text-align: center;
}


.cardSearchOpenDivServices {
    width: 100%;
    height: 270px;
    overflow: auto;
    font-size: 20px;
    border-bottom: inset black 1px;
}

.cardSearchOpenDivServices::-webkit-scrollbar {
    display: none;
}

.summaryCardSearchOpen {
    width: 98%;
    padding: 1%;
    border-radius: 10px 10px 0px 0px;
    background: rgba(10, 57, 105, 0.13);
    display: flex;
    justify-content: space-between;
}
.summaryCardSearchOpen:hover{
    cursor: pointer;
    color: #0A3969;
    font-size: 21px;
}

.nameServiceSearchCardOpen {
    display: flex;
}

.valueAvarageSearchCardOPen {
    display: flex;
}

.descriptionServiceOpenCard {
    height: 80px;
    border-radius: 0px 0px 10px 10px;
    padding: 1%;
    background: #F2F2F2;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonInitChat {
    background-color: #0A3969;
    color: white;
    font-size: 32px;
    padding: 1%;
    border-radius: 20px;
}

.buttonInitChat:hover {
    background-color: orange;
    color: black;
    cursor: pointer;
}