@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


/* Início página de Login */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


/* Início página de Login */

.login_body {
    background-image: url("../img/painting.jpg");
    background-size: cover;
    background-position: center;
    opacity: 100%;
    place-content: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.homebox_logo {
    position: relative;
    top: -80px;
    right: -700px;
}


.homebox_logo img {
    height: 90px;
    margin-top: 80px;
}

.div_login_and_button {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}


.div_login {

    background: rgba(255, 255, 255, 0.92);
    border: 1px solid #000000;
    border-radius: 30px;
    box-sizing: border-box;
    display: flex;
    height: 500px;
    width: 30%;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    position: relative;
    bottom: 70px;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.30));
}

.div_login h2 {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;

    margin: 0;
    color: #0A3969;
}


.div_login p {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    color: #000000;
}

.div_login input {

    background: rgba(150, 150, 150, 0.53);
    border-radius: 30px;
    width: 95%;
    height: 30px;
    border: none;
    padding: 2%;
    font-size: 20px;
}


.div_login img {
    height: 45px;
}


.div_emails,
.div_password {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90px;
}


.container_img {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

#password:hover {
    cursor: pointer;
}

.div_button {
    height: 500px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 60px;
}

.div_button p {
    display: inline;
    font-weight: lighter;
}

.div_button button {
    width: 180px;
    background: #0A3969;
    border-radius: 30px;
    color: white;
    font-size: xx-large;
}

.div_button button:hover {
    width: 180px;
    border-radius: 30px;
    cursor: pointer;
    background-color: rgb(255, 184, 52);
    color: black;
}

.div_button a {
    text-decoration: none;
    color: #000000;
    width: 100%;
    text-align: center;
    font-size: 22px;
}

#register {
    font-weight: 900;
}

#password {
    color: #0A3969;

}


/* Fim página de Login */

/* Início página de Cadastro */

.container {
    width: 85%;
    margin: auto;
}

.register_body {
    font-size: 24px;
    background-image: url("../img/painting.jpg");
    background-size: cover;
    height: inherit;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Poppins;
}

.register_body img {
    height: 100px;
    float: right;
}

.register_div {
    display: flex;
    background-color: white;
    width: 500px;
    border-radius: 30px 0px 0px 30px;
    flex-direction: column;
    height: 620px;
    overflow: auto;
    align-items: center;
    margin: auto;
    position: relative;
    bottom: 50px;
}

.register_div::-webkit-scrollbar {
    width: 5px;


}

.register_div::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.register_div::-webkit-scrollbar-thumb {
    background: #0A3969;
    border-radius: 20px;
}

.register_div::-webkit-scrollbar-thumb:hover {

    background: #555;
}

.register_div h2 {
    font-weight: bold;
    color: #0a3969;
    margin: 5% 0% 0% 0%;
}

.div_input {
    font-weight: 200;
    display: flex;
    width: 70%;
    flex-direction: column;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
}

.div_input p {
    font-weight: lighter;
    margin: 10% 0% 2% 0%;
}

.div_input select {
    background: rgba(150, 150, 150, 0.53);
    border-radius: 10px;
    font-weight: bold;
    height: 40px;
    border: none;
    padding: 2%;
}

.div_input input {
    background: rgba(150, 150, 150, 0.53);
    border-radius: 10px;
    font-weight: bold;
    height: 30px;
    border: none;
    padding: 2%;
}

.div_input input::placeholder {
    font-size: 16px;
}

.button_register {
    font-size: x-large;
    color: white;
    padding: 2%;
    margin: 8% 0% 8% 0%;
    background: #0A3969;
    border-radius: 30px;
}

.button_register:hover {
    cursor: pointer;
    background-color: rgb(255, 184, 52);
    color: black;
}

/* Fim página de Cadastro */





a:hover {
    text-decoration: underline;
}



/* esqueci a senha */


.forgotPasswordDiv {
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.47);
    position: absolute;
    z-index: 1;
}

.forgotPasswordDiv img {
    position: absolute;
    z-index: 1;
    top: 220px;
    right: 450px;
}

.forgotPasswordDiv img:hover {
    height: 55px;
    cursor: pointer;
}

.forgotPasswordDiv form {
    background: white;
    color: #0A3969;
    width: 50%;
    justify-content: space-between;
    height: 400px;
    border-radius: 20px;
    padding: 1%;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    flex-direction: column;
    align-items: center;
}

.inputFormForgotPassword {
    display: flex;
    font-size: 28px;
    width: 70%;
    align-self: flex-start;
    justify-content: space-between;
    height: 90px;
    flex-direction: column;
}

.inputFormForgotPassword input {
    height: 30px;
    border: none;
    font-size: 20px;
    border-bottom: black solid 1px;
    border-radius: 3px;
}

#submitForgotPassword {
    font-size: 28px;
    background-color: #0A3969;
    color: white;
    border-radius: 20px;
    padding: 1%;
}

#submitForgotPassword:hover {
    background-color: orange;
    color: black;
    cursor: pointer;
}