body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.body h2 {
    text-align: center;
    font-weight: bold;
}

.cardCustumerDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardCustumer {
    display: flex;
    align-items: center;
    background: rgba(10, 57, 105, 0.13);
    padding: 1%;
    border-radius: 20px;
}

.cardCustumer img{
    height: 150px;
    border-radius: 20px;
}