@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

/* Início página de Login */

.login_body {
    background-image: url("../img/painting.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.div_login {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 40%;
    height: 92%;
    left: 6%;
    top: 5%;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 30px;
}

.login {
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 60%;
    height: 60%;

}

.login_titulo {
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 60%;
    top: 25px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 40px;
    color: #0A3969;
}

.email_senha {
    position: absolute;
    width: 100%;
    height: 70%;
    margin-left: 30%;
    margin-right: 30%;
    top: 55%;
}

.login label {
    color: black;
    font-size: 21px;
}

.login label,
.login input {
    width: 90%;
    height: 12%;
    left: 122px;
    top: 10%;
    border-radius: 30px;
}

.login input {
    border: none;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100%;
    height: 12%;
    left: 122px;
    top: 20%;
    background: rgba(150, 150, 150, 0.53);
    border-radius: 30px;
}

.email_senha p {
    margin-left: 45%;
    font-size: 20px;
    margin-right: 50%;
    margin-bottom: 12%;

}

.img_container {
    margin-left: 17%;
}

div .logo {
    width: 13.5%;
    border-radius: 5px;
    padding-right: 17%;
}


.conteudo_login {
    width: 100%;
}


.homebox_logo {
    float: right;
    margin: 30px;
}

.logo_homebox {
    float: right;
    width: 70%;
    /* margin: 100px;
    padding: 0; */
}

.div_button {
    float: right;
    margin-top: 23%;
    margin-right: 5%;
    margin-left: 8%;
}


.div_button button {
    border: none;
    cursor: pointer;
    background-color: #0A3969;
    width: 70%;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;

    color: white;
    font-size: 27px;
    height: 50px;
    margin-bottom: 10px;
}

.div_button a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    float: right;
}

/* Fim página de Login */


/* Início página de Cadastro */

.cadastro_body {
    background-image: url("../img/painting.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.div_cadastro {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 40%;
    height: 152%;
    left: 30%;
    top: 5%;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 30px;
}

.div_cadastro_2 {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 40%;
    height: 100%;
    left: 30%;
    top: 5%;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 30px;
}

.cadastro {
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 60%;
    height: 60%;
    /* left: 5%;
    top: 5%; */
}

.cadastro_titulo {
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 45%;
    top: 25px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 40px;
    color: #0A3969;
}

.conteudo_cadastro {
    position: absolute;
    width: 100%;
    height: 70%;
    margin-left: 30%;
    margin-right: 30%;
    top: 35%;
}

.cadastro label {
    color: black;
    font-size: 21px;
}

.cadastro label,
.cadastro input {
    width: 90%;
    height: 12%;
    left: 122px;
    top: 10%;
    border-radius: 30px;
}

.cadastro input {
    border: none;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 105%;
    height: 10%;
    left: 122px;
    top: 20%;
    background: rgba(150, 150, 150, 0.53);
    border-radius: 30px;
}

.conteudo_cadastro p {
    margin-left: 45%;
    font-size: 20px;
    margin-right: 50%;
    margin-bottom: 12%;
}

.img_container {
    margin-left: 17%;
}

div .logo {
    width: 13.5%;
    border-radius: 5px;
    padding-right: 17%;
}


.conteudo_cadastro {
    width: 100%;
}

.homebox_logo {
    float: right;
    margin: 30px;
}

.logo_homebox {
    float: right;
    width: 70%;
}

.div_button {
    float: right;
    margin-top: 23%;
    margin-right: 5%;
    margin-left: 8%;
}


.conteudo_cadastro button {
    border: none;
    cursor: pointer;
    background-color: #0A3969;
    width: 70%;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;

    color: white;
    font-size: 27px;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.div_button a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    float: right;
}

/* Fim página de Cadastro */